<% @teams.each() do |team| %>
  <a href='/team/<%= team.id() %>'>
    <h1><%= team.teamname %></h1>
  </a>
  <h1><%= team.description %></h1>
  <h1><%= team.id %> </h1>
<% end %>

<h1><a href="/team_form">Add a new team!</a></h1>
