<h1>Add members</h1>

<p>Create a member here:</p>

<form action ='/members' method='post'>
  <label for='membername'>Member name</label>
  <input id='membername' name='membername' type='text'>
  <br>
  <label for='membertype'>Member type</label>
  <input id='membertype' name='membertype' type='text'>
  <br>
  <br>
  <button class='btn-primary'	type='submit'>Add member</button>
</form>
