<% @members.each() do |member| %>
  <h3>Member name: <%= member.membername %> </h3>
  <h5>Member type: <%= member.membertype %> </h5>
  <hr>
<% end %>

<a href='/member_form'><h3>Add a new member</h3></a>
