<h1>Add teams</h1>

  <p>Add a team here:</p>

  <form action="/" method="post">
    <label for="teamname">Team name:</label>
    <input id="teamname" name="teamname" type="text">
    <label for='teamdescription'>Team description:</label>
    <input id='teamdescription' name='teamdescription' type='text'>
    <button type="submit">Add Team</button>
  </form>
